workflows/1EovgmtKt1gO9C3F.json
{"updatedAt": "2026-03-03T07:44:52.194Z", "createdAt": "2026-02-25T10:54:03.563Z", "id": "1EovgmtKt1gO9C3F", "name": "Check Jobs", "description": null, "isArchived": false, "nodes": [{"id": "e1000001-0000-4000-8000-000000000099", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-60, 120], "parameters": {"content": "## Check Jobs\nShared sub-workflow. Checks which job URLs are new, updated, or unchanged.\n\n**Input:** `{ jobs: JSON string of object array [{url, title, company, salary, location, publishedAt}], source: string }`\n**Output:** `{ newUrls: string[], updatedUrls: string[], unchangedUrls: string[] }`", "width": 720, "height": 160}}, {"id": "e1000001-0000-4000-8000-000000000001", "name": "Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 340], "parameters": {"inputSource": "workflowInputs", "workflowInputs": {"values": [{"name": "jobs", "type": "string"}, {"name": "source", "type": "string"}]}}}, {"id": "e1000001-0000-4000-8000-000000000002", "name": "POST check-jobs", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [280, 340], "onError": "continueErrorOutput", "parameters": {"method": "POST", "url": "={{ $env.JOB_HUNTER_API_URL + '/jobs/check' }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $('Trigger').first().json.jobs }}", "options": {}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ $json.token ? 'Bearer ' + $json.token : '' }}"}]}}}, {"id": "e1000001-0000-4000-8000-000000000003", "name": "Parse Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [560, 340], "parameters": {"jsCode": "const json = $input.first().json;\nconst newUrls = json.newUrls || [];\nconst updatedUrls = json.updatedUrls || [];\nconst unchangedUrls = json.unchangedUrls || [];\nreturn [{json: { newUrls, updatedUrls, unchangedUrls }}];"}}, {"id": "e1000001-0000-4000-8000-000000000010", "name": "Format Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [560, 540], "parameters": {"jsCode": "const item = $input.first().json;\nconst source = $('Trigger').first().json.source || 'unknown';\nlet statusCode = 'N/A';\nlet code = 'UNKNOWN';\nlet message = 'Unexpected error';\n\nif (item.statusCode) statusCode = String(item.statusCode);\nif (item.body?.code) code = item.body.code;\nif (item.body?.message) message = item.body.message;\n\nconst raw = item.error?.message || '';\nif (raw && code === 'UNKNOWN') {\n  const statusMatch = raw.match(/^(\\d{3})/);\n  if (statusMatch) statusCode = statusMatch[1];\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      const parsed = JSON.parse(jsonMatch[0].replace(/\\\\\"/g, '\"'));\n      code = parsed.code || code;\n      message = parsed.message || message;\n    } catch (e) { message = raw; }\n  } else { message = raw; }\n}\n\nreturn [{json: {\n  level: 'error',\n  message: `POST /jobs/check: HTTP ${statusCode} [${code}] \\u2014 ${message}`,\n  source\n}}];"}}, {"id": "e1000001-0000-4000-8000-000000000011", "name": "Notify Error", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [840, 540], "onError": "continueRegularOutput", "parameters": {"workflowId": {"__rl": true, "value": "TQShysginOAn9uQs", "mode": "id"}, "options": {}}}, {"id": "e1000001-0000-4000-8000-000000000012", "name": "Throw Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 540], "parameters": {"jsCode": "const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"}}, {"id": "auto-0000-0000-4000-8000-000000000099", "name": "Get API Token", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [140, 340], "onError": "stopWorkflow", "parameters": {"workflowId": {"__rl": true, "value": "4MBLKBAFcbpccWrH", "mode": "id"}, "options": {}}}], "connections": {"Trigger": {"main": [[{"node": "Get API Token", "type": "main", "index": 0}]]}, "POST check-jobs": {"main": [[{"node": "Parse Response", "type": "main", "index": 0}], [{"node": "Format Error", "type": "main", "index": 0}]]}, "Format Error": {"main": [[{"node": "Notify Error", "type": "main", "index": 0}]]}, "Notify Error": {"main": [[{"node": "Throw Error", "type": "main", "index": 0}]]}, "Get API Token": {"main": [[{"node": "POST check-jobs", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Kiev", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "meta": null, "pinData": null, "versionId": "33fecd02-663c-47c1-adbf-c332ccb4b959", "activeVersionId": "33fecd02-663c-47c1-adbf-c332ccb4b959", "versionCounter": 28, "triggerCount": 0, "tags": [{"updatedAt": "2026-02-24T07:53:44.978Z", "createdAt": "2026-02-24T07:53:44.978Z", "id": "t0000001-0000-4000-8000-000000000001", "name": "shared"}], "shared": [{"updatedAt": "2026-02-25T10:54:03.563Z", "createdAt": "2026-02-25T10:54:03.563Z", "role": "workflow:owner", "workflowId": "1EovgmtKt1gO9C3F", "projectId": "dfXQr1quraFm38qh", "project": {"updatedAt": "2026-02-24T05:09:40.929Z", "createdAt": "2026-02-24T04:42:30.643Z", "id": "dfXQr1quraFm38qh", "name": "Myron Shykhov <myronshykhov@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "c2398426-cab4-45d4-8c55-54cc1d84130b"}}], "versionMetadata": {"name": null, "description": null}}