workflows/3JhDuzeLD3FbIOP1.json
{"updatedAt":"2026-02-24T09:56:19.642Z","createdAt":"2026-02-24T07:47:51.457Z","id":"3JhDuzeLD3FbIOP1","name":"Send Jobs","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"workflowInputs","workflowInputs":{"values":[{"name":"body","type":"array"},{"name":"count","type":"number"}]}},"id":"d1000001-0000-4000-8000-000000000001","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,400]},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check-count","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.count }}","rightValue":0}]},"options":{}},"id":"d1000001-0000-4000-8000-000000000030","name":"Has Jobs?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,400]},{"parameters":{"method":"POST","url":"={{ $env.JOB_HUNTER_API_URL + '/jobs/ingest' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Trigger').first().json.body) }}","options":{}},"id":"d1000001-0000-4000-8000-000000000002","name":"POST /jobs/ingest","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,304],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const count = $('Trigger').first().json.count || $('Trigger').first().json.body?.length || 0;\n\nreturn [{json: {\n  level: 'info',\n  message: `Send Jobs: ${count} jobs sent to API`\n}}];"},"id":"d1000001-0000-4000-8000-000000000020","name":"Log Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,304]},{"parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}},"id":"d1000001-0000-4000-8000-000000000021","name":"Notify","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[896,304],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst statusCode = item.statusCode || 'N/A';\n\nconst body = item.body ?? item.error ?? {};\nconst code = body.code || 'UNKNOWN';\nconst message = body.message || 'Unexpected error';\n\nreturn [{json: {\n  level: 'error',\n  message: `POST /jobs/ingest: HTTP ${statusCode} [${code}] \\u2014 ${message}`\n}}];"},"id":"d1000001-0000-4000-8000-000000000010","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,496]},{"parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}},"id":"d1000001-0000-4000-8000-000000000011","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[896,496],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"},"id":"d1000001-0000-4000-8000-000000000012","name":"Throw Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,496]}],"connections":{"Trigger":{"main":[[{"node":"Has Jobs?","type":"main","index":0}]]},"Has Jobs?":{"main":[[{"node":"POST /jobs/ingest","type":"main","index":0}]]},"POST /jobs/ingest":{"main":[[{"node":"Log Success","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Log Success":{"main":[[{"node":"Notify","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]},"Notify Error":{"main":[[{"node":"Throw Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"b0a93a08-ab7f-42c1-86a4-89ee5b7e0b3b","activeVersionId":"b0a93a08-ab7f-42c1-86a4-89ee5b7e0b3b","versionCounter":18,"triggerCount":0,"tags":[{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000001","name":"shared"}],"shared":[{"updatedAt":"2026-02-24T07:47:51.457Z","createdAt":"2026-02-24T07:47:51.457Z","role":"workflow:owner","workflowId":"3JhDuzeLD3FbIOP1","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}