workflows/4MBLKBAFcbpccWrH.json
{"updatedAt":"2026-03-03T06:11:54.785Z","createdAt":"2026-03-03T06:11:54.785Z","id":"4MBLKBAFcbpccWrH","name":"Get API Token","description":null,"active":true,"isArchived":false,"nodes":[{"id":"f1000001-0000-4000-8000-000000000099","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,120],"parameters":{"content":"## Get API Token\nShared sub-workflow. Obtains OAuth2 M2M token from Auth0.\nCaches token using workflow static data (TTL = expires_in - 5min).\n\n**Input:** `{ source: string }`\n**Output:** `{ source, token }` (empty string if auth disabled)","width":780,"height":120,"jsCode":null}},{"id":"f1000001-0000-4000-8000-000000000001","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,300],"parameters":{"inputSource":"workflowInputs","workflowInputs":{"values":[{"name":"source","type":"string"}]},"jsCode":null}},{"id":"f1000001-0000-4000-8000-000000000002","name":"Auth Enabled?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[280,300],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check-auth-enabled","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $env.AUTH0_ENABLED }}","rightValue":"true"}]},"options":{},"jsCode":null}},{"id":"f1000001-0000-4000-8000-000000000003","name":"Get Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[940,100],"onError":"continueErrorOutput","parameters":{"method":"POST","url":"={{ 'https://' + $env.AUTH0_DOMAIN + '/oauth/token' }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ grant_type: 'client_credentials', client_id: $env.JOB_HUNTER_API_M2M_AUTH0_CLIENT_ID, client_secret: $env.JOB_HUNTER_API_M2M_AUTH0_CLIENT_SECRET, audience: $env.JOB_HUNTER_API_AUTH0_AUDIENCE }) }}","options":{},"jsCode":null}},{"id":"f1000001-0000-4000-8000-000000000004","name":"Cache & Return","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,100],"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst input = $('Trigger').first().json;\nconst token = $json.access_token;\nconst expiresIn = $json.expires_in || 3600;\nconst margin = 300;\n\nstaticData.token = token;\nstaticData.expiresAt = Date.now() + (expiresIn - margin) * 1000;\n\nreturn [{json: {...input, token}}];"}},{"id":"f1000001-0000-4000-8000-000000000005","name":"Skip Auth","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,400],"parameters":{"jsCode":"const input = $('Trigger').first().json; return [{json: {...input, token: ''}}];"}},{"id":"f1000001-0000-4000-8000-000000000010","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,300],"parameters":{"jsCode":"const item = $input.first().json;\nconst source = $('Trigger').first().json.source || 'unknown';\nlet statusCode = 'N/A';\nlet message = 'Unexpected error';\n\nif (item.statusCode) statusCode = String(item.statusCode);\nif (item.body?.error_description) message = item.body.error_description;\nelse if (item.body?.error) message = item.body.error;\n\nconst raw = item.error?.message || '';\nif (raw && message === 'Unexpected error') message = raw;\n\nreturn [{json: {\n  level: 'error',\n  message: `Auth0 token request failed: HTTP ${statusCode} \\u2014 ${message}`,\n  source\n}}];"}},{"id":"f1000001-0000-4000-8000-000000000011","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1380,300],"onError":"continueRegularOutput","parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{},"jsCode":null}},{"id":"f1000001-0000-4000-8000-000000000012","name":"Throw Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,300],"parameters":{"jsCode":"const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"}},{"id":"f1000001-0000-4000-8000-000000000020","name":"Check Cache","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,200],"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst input = $('Trigger').first().json;\nconst now = Date.now();\n\nif (staticData.token && staticData.expiresAt > now) {\n  return [{json: {...input, token: staticData.token}}];\n}\nreturn [{json: {...input, token: ''}}];"}},{"id":"f1000001-0000-4000-8000-000000000021","name":"Has Cache?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[720,200],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"check-cache","operator":{"type":"string","operation":"notEmpty"},"leftValue":"={{ $json.token }}","rightValue":""}]},"options":{}}}],"connections":{"Trigger":{"main":[[{"node":"Auth Enabled?","type":"main","index":0}]]},"Auth Enabled?":{"main":[[{"node":"Check Cache","type":"main","index":0}],[{"node":"Skip Auth","type":"main","index":0}]]},"Get Token":{"main":[[{"node":"Cache & Return","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]},"Notify Error":{"main":[[{"node":"Throw Error","type":"main","index":0}]]},"Check Cache":{"main":[[{"node":"Has Cache?","type":"main","index":0}]]},"Has Cache?":{"main":[[],[{"node":"Get Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a7fb448c-255f-46ec-9040-abd1195a1307","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000001","name":"shared"}],"shared":[{"updatedAt":"2026-03-03T06:11:54.785Z","createdAt":"2026-03-03T06:11:54.785Z","role":"workflow:owner","workflowId":"4MBLKBAFcbpccWrH","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}