workflows/4MBLKBAFcbpccWrH.json
{"updatedAt": "2026-03-10T06:29:40.894Z", "createdAt": "2026-03-03T06:11:54.785Z", "id": "4MBLKBAFcbpccWrH", "name": "Get API Token", "description": null, "isArchived": false, "nodes": [{"parameters": {"content": "## Get API Token\nShared sub-workflow. Obtains OAuth2 M2M token from Auth0.\nCaches token using workflow static data (TTL = Auth0 expires_in - 2 min buffer).\n\n**Input:** `{ source: string }`\n**Output:** `{ source, token }` (empty string if auth disabled)"}, "id": "f1000001-0000-4000-8000-000000000099", "name": "Sticky Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-64, 128]}, {"parameters": {"workflowInputs": {"values": [{"name": "source"}]}}, "id": "f1000001-0000-4000-8000-000000000001", "name": "Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 400]}, {"parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "check-auth-enabled", "operator": {"type": "string", "operation": "equals"}, "leftValue": "={{ $env.AUTH0_ENABLED }}", "rightValue": "true"}]}, "options": {}}, "id": "f1000001-0000-4000-8000-000000000002", "name": "Auth Enabled?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [224, 400]}, {"parameters": {"method": "POST", "url": "={{ 'https://' + $env.AUTH0_DOMAIN + '/oauth/token' }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ grant_type: 'client_credentials', client_id: $env.JOB_HUNTER_API_M2M_AUTH0_CLIENT_ID, client_secret: $env.JOB_HUNTER_API_M2M_AUTH0_CLIENT_SECRET, audience: $env.JOB_HUNTER_API_AUTH0_AUDIENCE }) }}", "options": {}}, "id": "f1000001-0000-4000-8000-000000000003", "name": "Get Token", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [896, 208], "onError": "continueErrorOutput"}, {"parameters": {"jsCode": "const staticData = $getWorkflowStaticData('global');\nconst input = $('Trigger').first().json;\nconst token = $json.access_token;\nconst expiresIn = $json.expires_in || 3600;\nconst buffer = 120;\n\nstaticData.token = token;\nstaticData.expiresAt = Date.now() + (expiresIn - buffer) * 1000;\n\nreturn [{json: {...input, token}}];"}, "id": "f1000001-0000-4000-8000-000000000004", "name": "Cache & Return", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 112]}, {"parameters": {"jsCode": "const input = $('Trigger').first().json; return [{json: {...input, token: ''}}];"}, "id": "f1000001-0000-4000-8000-000000000005", "name": "Skip Auth", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 496]}, {"parameters": {"jsCode": "const item = $input.first().json;\nconst source = $('Trigger').first().json.source || 'unknown';\nlet statusCode = 'N/A';\nlet message = 'Unexpected error';\n\nif (item.statusCode) statusCode = String(item.statusCode);\nif (item.body?.error_description) message = item.body.error_description;\nelse if (item.body?.error) message = item.body.error;\n\nconst raw = item.error?.message || '';\nif (raw && message === 'Unexpected error') message = raw;\n\nreturn [{json: {\n  level: 'error',\n  message: `Auth0 token request failed: HTTP ${statusCode} \\u2014 ${message}`,\n  source\n}}];"}, "id": "f1000001-0000-4000-8000-000000000010", "name": "Format Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 304]}, {"parameters": {"workflowId": {"__rl": true, "value": "TQShysginOAn9uQs", "mode": "id"}, "options": {}}, "id": "f1000001-0000-4000-8000-000000000011", "name": "Notify Error", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1344, 304], "onError": "continueRegularOutput"}, {"parameters": {"jsCode": "const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"}, "id": "f1000001-0000-4000-8000-000000000012", "name": "Throw Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 304]}, {"parameters": {"jsCode": "const staticData = $getWorkflowStaticData('global');\nconst input = $('Trigger').first().json;\nconst now = Date.now();\n\nif (staticData.token && staticData.expiresAt > now) {\n  return [{json: {...input, token: staticData.token}}];\n}\nreturn [{json: {...input, token: ''}}];"}, "id": "f1000001-0000-4000-8000-000000000020", "name": "Check Cache", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 304]}, {"parameters": {"conditions": {"options": {"version": 2, "leftValue": "", "caseSensitive": true, "typeValidation": "strict"}, "combinator": "and", "conditions": [{"id": "check-cache", "operator": {"type": "string", "operation": "notEmpty"}, "leftValue": "={{ $json.token }}", "rightValue": ""}]}, "options": {}}, "id": "f1000001-0000-4000-8000-000000000021", "name": "Has Cache?", "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [672, 304]}, {"parameters": {"jsCode": "return $input.all();"}, "id": "f1000001-0000-4000-8000-000000000022", "name": "Return Cached", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [896, 400]}], "connections": {"Trigger": {"main": [[{"node": "Auth Enabled?", "type": "main", "index": 0}]]}, "Auth Enabled?": {"main": [[{"node": "Check Cache", "type": "main", "index": 0}], [{"node": "Skip Auth", "type": "main", "index": 0}]]}, "Get Token": {"main": [[{"node": "Cache & Return", "type": "main", "index": 0}], [{"node": "Format Error", "type": "main", "index": 0}]]}, "Format Error": {"main": [[{"node": "Notify Error", "type": "main", "index": 0}]]}, "Notify Error": {"main": [[{"node": "Throw Error", "type": "main", "index": 0}]]}, "Check Cache": {"main": [[{"node": "Has Cache?", "type": "main", "index": 0}]]}, "Has Cache?": {"main": [[{"node": "Return Cached", "type": "main", "index": 0}], [{"node": "Get Token", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Kiev", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "meta": null, "pinData": {}, "versionId": "0d4d133f-0021-4f9a-97d6-5eaa584f7d8d", "activeVersionId": "0d4d133f-0021-4f9a-97d6-5eaa584f7d8d", "versionCounter": 134, "triggerCount": 0, "tags": [{"updatedAt": "2026-02-24T07:53:44.978Z", "createdAt": "2026-02-24T07:53:44.978Z", "id": "t0000001-0000-4000-8000-000000000001", "name": "shared"}], "shared": [{"updatedAt": "2026-03-03T06:11:54.785Z", "createdAt": "2026-03-03T06:11:54.785Z", "role": "workflow:owner", "workflowId": "4MBLKBAFcbpccWrH", "projectId": "dfXQr1quraFm38qh", "project": {"updatedAt": "2026-02-24T05:09:40.929Z", "createdAt": "2026-02-24T04:42:30.643Z", "id": "dfXQr1quraFm38qh", "name": "Myron Shykhov <myronshykhov@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "c2398426-cab4-45d4-8c55-54cc1d84130b"}}], "versionMetadata": {"name": null, "description": null}}