workflows/51QbvQ9rXWCQSL9Y.json
{"updatedAt":"2026-02-27T09:43:20.055Z","createdAt":"2026-02-24T07:47:47.563Z","id":"51QbvQ9rXWCQSL9Y","name":"Get Criteria","description":null,"active":true,"isArchived":false,"nodes":[{"id":"c1000001-0000-4000-8000-000000000001","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,300],"parameters":{"inputSource":"workflowInputs","workflowInputs":{"values":[{"name":"source","type":"string"}]}}},{"id":"c1000001-0000-4000-8000-000000000002","name":"Fetch Criteria","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[300,300],"onError":"continueErrorOutput","parameters":{"url":"={{ $env.JOB_HUNTER_API_URL + '/criteria?source=' + $json.source }}","options":{}}},{"id":"c1000001-0000-4000-8000-000000000003","name":"Split Categories","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,300],"parameters":{"jsCode":"const { categories, locations, remoteOnly } = $input.first().json;\n\nif (!categories || categories.length === 0) {\n  return [];\n}\n\nreturn categories.map(cat => ({\n  json: { category: cat, locations: locations || [], remoteOnly: remoteOnly || false }\n}));"}},{"id":"c1000001-0000-4000-8000-000000000010","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,500],"parameters":{"jsCode":"const item = $input.first().json;\nconst source = $('Trigger').first().json.source || 'unknown';\nlet statusCode = 'N/A';\nlet code = 'UNKNOWN';\nlet message = 'Unexpected error';\n\nif (item.statusCode) statusCode = String(item.statusCode);\nif (item.body?.code) code = item.body.code;\nif (item.body?.message) message = item.body.message;\n\nconst raw = item.error?.message || '';\nif (raw && code === 'UNKNOWN') {\n  const statusMatch = raw.match(/^(\\d{3})/);\n  if (statusMatch) statusCode = statusMatch[1];\n\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[0].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n    try {\n      const parsed = JSON.parse(jsonStr);\n      code = parsed.code || code;\n      message = parsed.message || message;\n    } catch (e) {\n      message = raw.replace(/^\\d{3}\\s*-\\s*/, '').replace(/^\"|\"$/g, '').replace(/\\\\\"/g, '\"');\n    }\n  } else {\n    message = raw;\n  }\n}\n\nreturn [{json: {\n  level: 'error',\n  message: `GET /criteria: HTTP ${statusCode} [${code}] \\u2014 ${message}`,\n  source\n}}];"}},{"id":"c1000001-0000-4000-8000-000000000011","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[900,500],"onError":"continueRegularOutput","parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}}},{"id":"c1000001-0000-4000-8000-000000000012","name":"Throw Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,500],"parameters":{"jsCode":"const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"}}],"connections":{"Trigger":{"main":[[{"node":"Fetch Criteria","type":"main","index":0}]]},"Fetch Criteria":{"main":[[{"node":"Split Categories","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]},"Notify Error":{"main":[[{"node":"Throw Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"12a1fffc-070d-433e-8386-8b7c52330dc3","activeVersionId":"12a1fffc-070d-433e-8386-8b7c52330dc3","versionCounter":40,"triggerCount":0,"tags":[{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000001","name":"shared"}],"shared":[{"updatedAt":"2026-02-24T07:47:47.563Z","createdAt":"2026-02-24T07:47:47.563Z","role":"workflow:owner","workflowId":"51QbvQ9rXWCQSL9Y","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}