workflows/F6YhykBr7ADDUxk1.json
{"updatedAt":"2026-02-25T07:47:56.221Z","createdAt":"2026-02-24T05:10:47.465Z","id":"F6YhykBr7ADDUxk1","name":"DOU RSS Scraper","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"a1000001-0000-4000-8000-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,496]},{"parameters":{"jsCode":"return [{json: {source: 'dou'}}];"},"id":"a1000001-0000-4000-8000-000000000020","name":"Set Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,496]},{"parameters":{"workflowId":{"__rl":true,"value":"51QbvQ9rXWCQSL9Y","mode":"id"},"options":{}},"id":"a1000001-0000-4000-8000-000000000021","name":"Get Criteria","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[448,496],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $input.all().map(item => ({\n  json: {\n    category: item.json.category,\n    url: `https://jobs.dou.ua/vacancies/feeds/?category=${encodeURIComponent(item.json.category)}`\n  }\n}));"},"id":"a1000001-0000-4000-8000-000000000003","name":"Build DOU URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,496]},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":2000}},"response":{"response":{"responseFormat":"text"}}}},"id":"a1000001-0000-4000-8000-000000000004","name":"Fetch RSS","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,496],"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"a1000001-0000-4000-8000-000000000005","name":"XML to JSON","type":"n8n-nodes-base.xml","typeVersion":1,"position":[1120,400]},{"parameters":{"jsCode":"const source = $('Set Source').first().json.source;\nconst allJobs = [];\n\nfor (const inputItem of $input.all()) {\n  const raw = inputItem.json.rss?.channel?.item;\n  if (!raw) continue;\n\n  const items = Array.isArray(raw) ? raw : [raw];\n  const companySuffixes = /,\\s*(?:Inc\\.|Ltd\\.|LLC|GmbH|d\\.o\\.o\\.|S\\.A\\.|s\\.r\\.o\\.|AB|BV|PLC|Corp\\.|Co\\.|Group|Limited)/i;\n\n  for (const item of items) {\n    const rawTitle = (item.title || '').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&');\n\n    let jobTitle = rawTitle;\n    let company = null;\n    let salary = null;\n    let locations = [];\n    let remote = false;\n\n    const idx = rawTitle.indexOf(' \\u0432 ');\n    if (idx !== -1) {\n      jobTitle = rawTitle.substring(0, idx).trim();\n      let rest = rawTitle.substring(idx + 3).trim();\n\n      const suffixMatch = rest.match(companySuffixes);\n      let companyEnd;\n\n      if (suffixMatch) {\n        companyEnd = suffixMatch.index + suffixMatch[0].length;\n      } else {\n        companyEnd = rest.indexOf(',');\n        if (companyEnd === -1) companyEnd = rest.length;\n      }\n\n      company = rest.substring(0, companyEnd).trim();\n      const details = rest.substring(companyEnd).replace(/^,\\s*/, '');\n\n      if (details) {\n        for (const part of details.split(',').map(s => s.trim()).filter(Boolean)) {\n          if (/(?:\\u0432\\u0456\\u0434|\\u0434\\u043e)\\s*\\$[\\d\\s]|^\\$[\\d]/.test(part)) {\n            salary = part;\n          } else if (/\\u0432\\u0456\\u0434\\u0434\\u0430\\u043b\\u0435\\u043d\\u043e|remote/i.test(part)) {\n            remote = true;\n          } else if (/\\u0437\\u0430 \\u043a\\u043e\\u0440\\u0434\\u043e\\u043d\\u043e\\u043c/i.test(part)) {\n          } else {\n            locations.push(part);\n          }\n        }\n      }\n    }\n\n    const url = (item.link || '').replace(/\\?utm_source=jobsrss/, '');\n\n    allJobs.push({\n      json: {\n        title: jobTitle,\n        company,\n        url,\n        description: item.description || '',\n        source,\n        salary,\n        location: locations.join(', ') || null,\n        remote,\n        publishedAt: item.pubDate || null,\n        rawData: item,\n      }\n    });\n  }\n}\n\nreturn allJobs;"},"id":"a1000001-0000-4000-8000-000000000006","name":"Parse Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,400]},{"parameters":{"jsCode":"const jobs = $input.all().map(i => i.json);\n\nreturn [{json: {body: jobs, count: jobs.length}}];"},"id":"a1000001-0000-4000-8000-000000000007","name":"Prepare Ingest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1568,400]},{"parameters":{"workflowId":{"__rl":true,"value":"3JhDuzeLD3FbIOP1","mode":"id"},"options":{}},"id":"a1000001-0000-4000-8000-000000000022","name":"Send Jobs","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1792,400],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const err = $input.first().json;\nconst msg = err.error || err.message || 'Unknown error';\n\nreturn [{json: {level: 'error', message: `${$workflow.name}: ${msg}`}}];"},"id":"a1000001-0000-4000-8000-000000000012","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,592]},{"parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}},"id":"a1000001-0000-4000-8000-000000000013","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1344,592],"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Source","type":"main","index":0}]]},"Set Source":{"main":[[{"node":"Get Criteria","type":"main","index":0}]]},"Get Criteria":{"main":[[{"node":"Build DOU URLs","type":"main","index":0}]]},"Build DOU URLs":{"main":[[{"node":"Fetch RSS","type":"main","index":0}]]},"Fetch RSS":{"main":[[{"node":"XML to JSON","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"XML to JSON":{"main":[[{"node":"Parse Jobs","type":"main","index":0}]]},"Parse Jobs":{"main":[[{"node":"Prepare Ingest","type":"main","index":0}]]},"Prepare Ingest":{"main":[[{"node":"Send Jobs","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"562ca081-368f-4828-b26a-a108ee661bb2","activeVersionId":null,"versionCounter":76,"triggerCount":1,"tags":[{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000002","name":"scraper"},{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000003","name":"dou"}],"shared":[{"updatedAt":"2026-02-24T05:10:47.465Z","createdAt":"2026-02-24T05:10:47.465Z","role":"workflow:owner","workflowId":"F6YhykBr7ADDUxk1","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}