workflows/fpII0CMrmsUe5oZQ.json
{"updatedAt": "2026-03-05T05:13:40.690Z", "createdAt": "2026-03-05T05:13:30.972Z", "id": "fpII0CMrmsUe5oZQ", "name": "Web3.career Scraper", "description": null, "isArchived": false, "nodes": [{"id": "c3000001-0000-4000-8000-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 496], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}}}, {"id": "c3000001-0000-4000-8000-000000000002", "name": "Set Source", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 496], "parameters": {"jsCode": "return [{json: {source: 'web3career'}}];"}}, {"id": "c3000001-0000-4000-8000-000000000003", "name": "Get Criteria", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [448, 496], "onError": "stopWorkflow", "parameters": {"workflowId": {"__rl": true, "value": "51QbvQ9rXWCQSL9Y", "mode": "id"}, "options": {}}}, {"id": "c3000001-0000-4000-8000-000000000004", "name": "Build Page URLs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 496], "parameters": {"jsCode": "return $input.all().map(item => {\n  const cat = item.json.category.toLowerCase().replace(/\\s+/g, '-');\n  const remote = item.json.remoteOnly ? '+remote' : '';\n  return {\n    json: {\n      category: item.json.category,\n      url: `https://web3.career/${cat}${remote}-jobs`\n    }\n  };\n});"}}, {"id": "c3000001-0000-4000-8000-000000000005", "name": "Fetch Listing Pages", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [896, 496], "onError": "continueErrorOutput", "parameters": {"url": "={{ $json.url }}", "options": {"batching": {"batch": {"batchSize": 1, "batchInterval": 2000}}, "response": {"response": {"responseFormat": "text"}}}}}, {"id": "c3000001-0000-4000-8000-000000000006", "name": "Parse Jobs", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 400], "parameters": {"jsCode": "const source = $('Set Source').first().json.source;\nconst allJobs = [];\n\nfor (const inputItem of $input.all()) {\n  const html = inputItem.json.data;\n  if (!html || typeof html !== 'string') continue;\n\n  // 1. Extract JSON-LD JobPosting blocks\n  const jsonLdBlocks = [];\n  const jsonLdRegex = /<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/g;\n  let m;\n  while ((m = jsonLdRegex.exec(html)) !== null) {\n    try {\n      const parsed = JSON.parse(m[1]);\n      const items = Array.isArray(parsed) ? parsed : [parsed];\n      for (const item of items) {\n        if (item['@type'] === 'JobPosting') jsonLdBlocks.push(item);\n      }\n    } catch {}\n  }\n\n  // 2. Extract job URLs from HTML: /{slug}/{numericId}\n  const urlRegex = /href=\"\\/([\\w][\\w.-]*(?:-[\\w.-]+)*\\/(\\d+))\"/g;\n  const urlMap = new Map();\n  let um;\n  while ((um = urlRegex.exec(html)) !== null) {\n    const path = '/' + um[1];\n    const id = um[2];\n    if (!urlMap.has(id)) urlMap.set(id, path);\n  }\n  const urlList = [...urlMap.values()];\n\n  // 3. Pair JSON-LD with URLs by index\n  for (let i = 0; i < jsonLdBlocks.length; i++) {\n    const p = jsonLdBlocks[i];\n    const jobUrl = i < urlList.length\n      ? 'https://web3.career' + urlList[i]\n      : null;\n    if (!jobUrl) continue;\n\n    const sal = p.baseSalary?.value;\n    const salaryStr = sal\n      ? `${sal.minValue}-${sal.maxValue} ${p.baseSalary?.currency || 'USD'}/${sal.unitText || 'YEAR'}`\n      : null;\n\n    allJobs.push({\n      json: {\n        title: p.title || '',\n        company: p.hiringOrganization?.name || null,\n        url: jobUrl,\n        description: p.description || '',\n        source,\n        salary: salaryStr,\n        location: p.applicantLocationRequirements?.name || null,\n        remote: p.jobLocationType === 'TELECOMMUTE',\n        publishedAt: p.datePosted || null,\n        rawData: p\n      }\n    });\n  }\n}\n\nreturn allJobs;"}}, {"id": "c3000001-0000-4000-8000-000000000007", "name": "Prepare Ingest", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1344, 400], "parameters": {"jsCode": "const source = $('Set Source').first().json.source;\nconst seen = new Set();\nconst jobs = $input.all()\n  .map(i => i.json)\n  .filter(j => {\n    if (!j.url || seen.has(j.url)) return false;\n    seen.add(j.url);\n    return true;\n  });\n\nreturn [{json: {body: jobs, count: jobs.length, source}}];"}}, {"id": "c3000001-0000-4000-8000-000000000008", "name": "Send Jobs", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1568, 400], "onError": "stopWorkflow", "parameters": {"workflowId": {"__rl": true, "value": "3JhDuzeLD3FbIOP1", "mode": "id"}, "options": {}}}, {"id": "c3000001-0000-4000-8000-000000000009", "name": "Format Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 592], "parameters": {"jsCode": "const err = $input.first().json;\nconst source = $('Set Source').first().json.source;\nconst msg = err.error?.message || err.message || 'Unknown error';\nreturn [{json: {level: 'error', message: `${$workflow.name}: ${msg}`, source}}];"}}, {"id": "c3000001-0000-4000-8000-000000000010", "name": "Notify Error", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1344, 592], "onError": "continueRegularOutput", "parameters": {"workflowId": {"__rl": true, "value": "TQShysginOAn9uQs", "mode": "id"}, "options": {}}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Set Source", "type": "main", "index": 0}]]}, "Set Source": {"main": [[{"node": "Get Criteria", "type": "main", "index": 0}]]}, "Get Criteria": {"main": [[{"node": "Build Page URLs", "type": "main", "index": 0}]]}, "Build Page URLs": {"main": [[{"node": "Fetch Listing Pages", "type": "main", "index": 0}]]}, "Fetch Listing Pages": {"main": [[{"node": "Parse Jobs", "type": "main", "index": 0}], [{"node": "Format Error", "type": "main", "index": 0}]]}, "Parse Jobs": {"main": [[{"node": "Prepare Ingest", "type": "main", "index": 0}]]}, "Prepare Ingest": {"main": [[{"node": "Send Jobs", "type": "main", "index": 0}]]}, "Format Error": {"main": [[{"node": "Notify Error", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Kiev", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "meta": null, "pinData": null, "versionId": "652a1042-f617-490c-9187-2b62a9f98d84", "activeVersionId": null, "versionCounter": 2, "triggerCount": 0, "tags": [], "shared": [{"updatedAt": "2026-03-05T05:13:30.972Z", "createdAt": "2026-03-05T05:13:30.972Z", "role": "workflow:owner", "workflowId": "fpII0CMrmsUe5oZQ", "projectId": "dfXQr1quraFm38qh", "project": {"updatedAt": "2026-02-24T05:09:40.929Z", "createdAt": "2026-02-24T04:42:30.643Z", "id": "dfXQr1quraFm38qh", "name": "Myron Shykhov <myronshykhov@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "c2398426-cab4-45d4-8c55-54cc1d84130b"}}], "versionMetadata": {"name": null, "description": null}}