workflows/FVmwDSFXFFFZ0trJ.json
{"updatedAt":"2026-02-26T04:15:02.254Z","createdAt":"2026-02-25T06:54:36.336Z","id":"FVmwDSFXFFFZ0trJ","name":"LinkedIn Scraper","description":null,"active":false,"isArchived":false,"nodes":[{"id":"sticky-1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,220],"parameters":{"content":"## Phase 1: Discovery\nFast search via python-jobspy. No descriptions.\n200 results per category, random 7-15s between requests.","width":1400,"height":100}},{"id":"sticky-2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2100,120],"parameters":{"content":"## Phase 2: Enrichment\nParallel detail page scraping via proxy worker pool.\n20 proxies with browser fingerprints, 7-15s delay per proxy.","width":1100,"height":100}},{"id":"sticky-3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1400,580],"parameters":{"content":"## Error Handling\nAll errors → Telegram notification → clear running flag","width":700,"height":70}},{"id":"b1000001-0000-4000-8000-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,400],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"b1000001-0000-4000-8000-000000000019","name":"Check Running","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,400],"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst now = Date.now();\nconst maxRuntime = 14 * 60 * 1000;\n\nif (staticData.isRunning && (now - staticData.startedAt) < maxRuntime) {\n  return [];\n}\n\nstaticData.isRunning = true;\nstaticData.startedAt = now;\nreturn [{json: {source: 'linkedin'}}];"},"notes":"Prevents overlapping executions. Skips if previous run is still active (14 min timeout)."},{"id":"b1000001-0000-4000-8000-000000000004","name":"Get Proxies","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[480,400],"onError":"continueErrorOutput","parameters":{"workflowId":{"__rl":true,"value":"W1ELujeuM4ivaoc7","mode":"id"},"options":{}},"notes":"Returns {proxies: comma-separated, proxyList: [{url, fingerprint}]}"},{"id":"b1000001-0000-4000-8000-000000000003","name":"Get Criteria","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[720,400],"onError":"continueErrorOutput","parameters":{"workflowId":{"__rl":true,"value":"51QbvQ9rXWCQSL9Y","mode":"id"},"options":{}},"notes":"Returns categories: [kotlin, java, ...]"},{"id":"b1000001-0000-4000-8000-000000000005","name":"Build Queries","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,400],"parameters":{"jsCode":"const proxiesData = $('Get Proxies').first().json;\nconst proxies = proxiesData.proxies;\nconst proxyList = proxiesData.proxyList;\n\nconst criteriaItem = $input.first().json;\nconst locations = criteriaItem.locations || [];\nconst categories = $input.all().map(i => i.json.category);\nconst queries = [];\n\nfor (const searchTerm of categories) {\n  for (const location of locations) {\n    queries.push({ json: { searchTerm, location, proxies, proxyList } });\n  }\n}\n\nreturn queries;"},"notes":"Generates searchTerm × location combinations. 5 locations × N categories."},{"id":"b1000001-0000-4000-8000-000000000006","name":"Fetch Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1200,400],"onError":"continueErrorOutput","parameters":{"url":"={{ $env.JOB_SPY_API_URL }}/jobs","sendQuery":true,"queryParameters":{"parameters":[{"name":"site","value":"linkedin"},{"name":"search_term","value":"={{ $json.searchTerm }}"},{"name":"location","value":"={{ $json.location }}"},{"name":"is_remote","value":"true"},{"name":"results_wanted","value":"1000"},{"name":"hours_old","value":"1"},{"name":"description_format","value":"markdown"},{"name":"linkedin_fetch_description","value":"false"},{"name":"proxies","value":"={{ $json.proxies }}"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":"={{ Math.floor(Math.random() * 8001) + 7000 }}"}},"timeout":180000}},"notes":"Phase 1 search. No descriptions. python-jobspy round-robins proxies internally."},{"id":"b1000001-0000-4000-8000-000000000007","name":"Collect & Dedup","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,400],"parameters":{"jsCode":"const seen = new Set();\nconst allJobs = [];\n\nfor (const item of $input.all()) {\n  const job = item.json;\n  const url = job.job_url;\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n\n  let salary = null;\n  if (job.min_amount && job.max_amount) {\n    salary = `${job.min_amount}-${job.max_amount} ${job.currency || 'USD'}`;\n  } else if (job.min_amount) {\n    salary = `${job.min_amount}+ ${job.currency || 'USD'}`;\n  }\n\n  allJobs.push({\n    title: job.title || '',\n    company: job.company || null,\n    url,\n    salary,\n    location: job.location || null,\n    publishedAt: job.date_posted || null,\n    rawData: job,\n  });\n}\n\nconst proxyList = $('Build Queries').first().json.proxyList;\nconst urls = JSON.stringify(allJobs.map(j => j.url));\n\nreturn [{json: { allJobs, proxyList, totalFound: allJobs.length, urls }}];\n"},"notes":"Deduplicates jobs by URL across categories. Outputs single item."},{"id":"b1000001-0000-4000-8000-000000000018","name":"Check URLs","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1760,400],"onError":"continueErrorOutput","parameters":{"workflowId":{"__rl":true,"value":"1EovgmtKt1gO9C3F","mode":"id"},"options":{}},"notes":"Shared sub-workflow. Returns {existingUrls: []} from Kotlin API."},{"id":"b1000001-0000-4000-8000-000000000008","name":"Filter New","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,400],"parameters":{"jsCode":"const { allJobs, proxyList, totalFound } = $('Collect & Dedup').first().json;\nconst existingUrls = $input.first().json.existingUrls || [];\n\nconst existingSet = new Set(existingUrls);\nconst newJobs = allJobs.filter(j => !existingSet.has(j.url));\n\nreturn [{json: {\n  newJobs,\n  proxyList,\n  totalFound,\n  newCount: newJobs.length,\n  existingCount: existingUrls.length,\n}}];"},"notes":"Keeps only jobs not yet in database."},{"id":"b1000001-0000-4000-8000-000000000009","name":"Has New Jobs?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2200,400],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cond1","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.newCount }}","rightValue":0}]}}},{"id":"b1000001-0000-4000-8000-000000000010","name":"Enrich Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2440,300],"onError":"continueErrorOutput","parameters":{"method":"POST","url":"={{ $env.JOB_SPY_API_URL }}/jobs/enrich","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ jobs: $json.newJobs.map(j => ({ url: j.url, job_id: j.url.split('/').pop() })), proxies: $json.proxyList, delay_min: 7, delay_max: 15 }) }}","options":{"timeout":600000}},"notes":"Phase 2. Parallel enrichment: 20 proxies × fingerprints, 7-15s delay."},{"id":"b1000001-0000-4000-8000-000000000011","name":"Build Ingest","type":"n8n-nodes-base.code","typeVersion":2,"position":[2680,300],"parameters":{"jsCode":"const { newJobs, totalFound } = $('Filter New').first().json;\nconst enrichResponse = $input.first().json;\nconst enrichResults = enrichResponse.results || [];\nconst enrichStats = enrichResponse.stats || {};\n\nconst enrichedByUrl = {};\nfor (const r of enrichResults) {\n  if (r.status === 'success' && r.data) {\n    enrichedByUrl[r.url] = r.data;\n  }\n}\n\nconst ingestBody = newJobs.map(job => {\n  const e = enrichedByUrl[job.url] || {};\n  return {\n    title: job.title,\n    company: e.company_name || job.company,\n    url: job.url,\n    description: e.description || '',\n    source: 'LINKEDIN',\n    salary: e.salary || job.salary,\n    location: e.location || job.location,\n    remote: job.remote,\n    publishedAt: job.publishedAt,\n    rawData: { ...job.rawData, ...e },\n  };\n});\n\nconst enrichedCount = Object.keys(enrichedByUrl).length;\n\nreturn [{json: {\n  body: ingestBody,\n  count: ingestBody.length,\n  enrichStats,\n  enrichedCount,\n  totalFound,\n}}];"},"notes":"Merges search data + enriched data. Enriched company_name/location override search values."},{"id":"b1000001-0000-4000-8000-000000000012","name":"Send Jobs","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2920,300],"onError":"continueErrorOutput","parameters":{"workflowId":{"__rl":true,"value":"3JhDuzeLD3FbIOP1","mode":"id"},"options":{}}},{"id":"b1000001-0000-4000-8000-000000000013","name":"Build Stats","type":"n8n-nodes-base.code","typeVersion":2,"position":[3160,300],"parameters":{"jsCode":"const data = $('Build Ingest').first().json;\nconst stats = data.enrichStats;\nconst enriched = data.enrichedCount;\nconst total = data.count;\nconst found = data.totalFound;\nconst success = stats.success || 0;\nconst noData = stats.no_data || 0;\nconst notFound = stats.not_found || 0;\nconst skipped = stats.skipped || 0;\nconst alive = stats.proxies_alive || 0;\nconst dead = stats.proxies_dead || 0;\nconst duration = stats.duration_seconds || 0;\n\nlet level = 'info';\nlet msg;\n\nif (skipped > 0 && enriched === 0) {\n  level = 'error';\n  msg = `LinkedIn Scraper: enrichment failed — all proxies exhausted after ${success} jobs\\n${skipped} jobs will retry next cycle`;\n} else {\n  msg = `LinkedIn Scraper: ${found} found, ${total} new, ${enriched} enriched`;\n  if (noData > 0 || skipped > 0) {\n    msg += ` (${noData} no_data, ${skipped} skipped)`;\n  }\n  if (skipped > 0) level = 'warn';\n}\n\nmsg += `\\nProxies: ${alive}/${alive + dead} alive | Duration: ${duration}s`;\n\nreturn [{json: { level, message: msg }}];"},"notes":"Builds Telegram notification. info/warn/error based on enrichment stats."},{"id":"b1000001-0000-4000-8000-000000000014","name":"Notify","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[3400,400],"onError":"continueRegularOutput","parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}}},{"id":"b1000001-0000-4000-8000-000000000015","name":"Notify No New","type":"n8n-nodes-base.code","typeVersion":2,"position":[2440,500],"parameters":{"jsCode":"const { totalFound, existingCount } = $('Filter New').first().json;\nreturn [{json: {\n  level: 'info',\n  message: `LinkedIn Scraper: ${totalFound} found, 0 new (${existingCount} already in DB)`\n}}];"}},{"id":"b1000001-0000-4000-8000-000000000020","name":"Clear Running","type":"n8n-nodes-base.code","typeVersion":2,"position":[3640,400],"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nstaticData.isRunning = false;\nreturn $input.all();"},"notes":"Releases the execution lock so next scheduled run can proceed."},{"id":"b1000001-0000-4000-8000-000000000016","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,660],"parameters":{"jsCode":"const err = $input.first().json;\nconst msg = err.error?.message || err.message || err.errorMessage || JSON.stringify(err).substring(0, 200);\n\nreturn [{json: {level: 'error', message: `${$workflow.name}: ${msg}`}}];"}},{"id":"b1000001-0000-4000-8000-000000000017","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1760,660],"onError":"continueRegularOutput","parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}}},{"id":"b1000001-0000-4000-8000-000000000021","name":"Clear Running on Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,660],"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nstaticData.isRunning = false;\nreturn $input.all();"},"notes":"Releases the execution lock on error path."}],"connections":{"Schedule Trigger":{"main":[[{"node":"Check Running","type":"main","index":0}]]},"Check Running":{"main":[[{"node":"Get Proxies","type":"main","index":0}]]},"Get Proxies":{"main":[[{"node":"Get Criteria","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Get Criteria":{"main":[[{"node":"Build Queries","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Build Queries":{"main":[[{"node":"Fetch Jobs","type":"main","index":0}]]},"Fetch Jobs":{"main":[[{"node":"Collect & Dedup","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Collect & Dedup":{"main":[[{"node":"Check URLs","type":"main","index":0}]]},"Check URLs":{"main":[[{"node":"Filter New","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Filter New":{"main":[[{"node":"Has New Jobs?","type":"main","index":0}]]},"Has New Jobs?":{"main":[[{"node":"Enrich Jobs","type":"main","index":0}],[{"node":"Notify No New","type":"main","index":0}]]},"Enrich Jobs":{"main":[[{"node":"Build Ingest","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Build Ingest":{"main":[[{"node":"Send Jobs","type":"main","index":0}]]},"Send Jobs":{"main":[[{"node":"Build Stats","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Build Stats":{"main":[[{"node":"Notify","type":"main","index":0}]]},"Notify No New":{"main":[[{"node":"Notify","type":"main","index":0}]]},"Notify":{"main":[[{"node":"Clear Running","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]},"Notify Error":{"main":[[{"node":"Clear Running on Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"isRunning":true,"startedAt":1772077537035}},"meta":null,"pinData":{},"versionId":"5abb796f-3eaa-4031-aeda-5785fabd0464","activeVersionId":null,"versionCounter":115,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-25T06:54:36.336Z","createdAt":"2026-02-25T06:54:36.336Z","role":"workflow:owner","workflowId":"FVmwDSFXFFFZ0trJ","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}