workflows/L4Mh4A6mDRTo6ADM.json
{"updatedAt": "2026-03-13T06:18:11.121Z", "createdAt": "2026-03-05T04:17:13.922Z", "id": "L4Mh4A6mDRTo6ADM", "name": "EU Remote Jobs Scraper", "description": null, "isArchived": false, "nodes": [{"id": "e1000001-0000-4000-8000-000000000001", "name": "Schedule Trigger", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, 400], "parameters": {"rule": {"interval": [{"field": "minutes", "minutesInterval": 15}]}}}, {"id": "e1000001-0000-4000-8000-000000000002", "name": "Set Source", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [224, 400], "parameters": {"jsCode": "return [{json: {source: 'euremotejobs'}}];"}}, {"id": "e1000001-0000-4000-8000-000000000003", "name": "Get Criteria", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [448, 400], "onError": "stopWorkflow", "parameters": {"workflowId": {"__rl": true, "value": "51QbvQ9rXWCQSL9Y", "mode": "id"}, "options": {}}}, {"id": "e1000001-0000-4000-8000-000000000004", "name": "Resolve Tags", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 400], "parameters": {"jsCode": "return $input.all().map(i => ({\n  json: {\n    category: i.json.category,\n    url: `https://euremotejobs.com/wp-json/wp/v2/job_listing_tag?search=${encodeURIComponent(i.json.category)}&per_page=5`\n  }\n}));"}}, {"id": "e1000001-0000-4000-8000-000000000005", "name": "Fetch Tags", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [896, 400], "onError": "continueRegularOutput", "parameters": {"url": "={{ $json.url }}", "options": {"batching": {"batch": {"batchSize": 1, "batchInterval": 1000}}, "response": {"response": {"responseFormat": "text"}}}}}, {"id": "e1000001-0000-4000-8000-000000000006", "name": "Build Queries", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 400], "parameters": {"jsCode": "const seen = new Set();\nconst queries = [];\nconst resolveItems = $('Resolve Tags').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const category = resolveItems[i]?.json?.category || '';\n\n  let tags;\n  try {\n    tags = JSON.parse(item.json.data || '[]');\n  } catch {\n    continue;\n  }\n\n  if (!Array.isArray(tags) || tags.length === 0) continue;\n\n  const tag = tags.find(t =>\n    t.name.toLowerCase() === category.toLowerCase()\n  ) || tags[0];\n\n  if (!seen.has(tag.id)) {\n    seen.add(tag.id);\n    queries.push({ json: { tagId: tag.id, tagName: tag.name, category } });\n  }\n}\n\nreturn queries;"}}, {"id": "e1000001-0000-4000-8000-000000000007", "name": "Fetch Jobs", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1344, 400], "onError": "continueErrorOutput", "parameters": {"url": "=https://euremotejobs.com/wp-json/wp/v2/job-listings?per_page=100&page=1&_embed&job_listing_tag={{ $json.tagId }}&orderby=date&order=desc", "options": {"batching": {"batch": {"batchSize": 1, "batchInterval": 2000}}, "timeout": 30000}}}, {"id": "e1000001-0000-4000-8000-000000000008", "name": "Parse & Dedup", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 400], "parameters": {"jsCode": "const source = 'euremotejobs';\nconst seen = new Set();\nconst jobs = [];\n\n// Build tagId -> category map from Build Queries\nconst queryItems = $('Build Queries').all();\nconst tagToCategory = {};\nfor (const q of queryItems) {\n  tagToCategory[q.json.tagId] = q.json.category;\n}\n\nfor (const item of $input.all()) {\n  const wp = item.json;\n  if (!wp.link || seen.has(wp.link)) continue;\n  seen.add(wp.link);\n\n  const terms = wp._embedded?.['wp:term'] || [];\n  const allTerms = terms.flat();\n  const regions = allTerms.filter(t => t.taxonomy === 'job_listing_region');\n  const location = regions.map(r => r.name).join(', ') || null;\n\n  // Find category by matching WP tags to Build Queries tagId map\n  const wpTags = allTerms.filter(t => t.taxonomy === 'job_listing_tag');\n  const category = wpTags.map(t => tagToCategory[t.id]).find(c => c) || '';\n\n  jobs.push({\n    title: wp.title?.rendered || '',\n    company: wp.meta?._company_name || null,\n    url: wp.link,\n    description: wp.content?.rendered || '',\n    source,\n    salary: null,\n    location,\n    remote: true,\n    publishedAt: wp.date || null,\n    rawData: wp,\n    category,\n  });\n}\n\nreturn [{ json: { body: jobs, count: jobs.length, source } }];"}}, {"id": "e1000001-0000-4000-8000-000000000009", "name": "Send Jobs", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1792, 400], "onError": "stopWorkflow", "parameters": {"workflowId": {"__rl": true, "value": "3JhDuzeLD3FbIOP1", "mode": "id"}, "options": {}}}, {"id": "e1000001-0000-4000-8000-000000000010", "name": "Format Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1568, 592], "parameters": {"jsCode": "const err = $input.first().json;\nconst source = $('Set Source').first().json.source;\nconst msg = err.error?.message || err.message || 'Unknown error';\nreturn [{json: {level: 'error', message: `${$workflow.name}: ${msg}`, source}}];"}}, {"id": "e1000001-0000-4000-8000-000000000011", "name": "Notify Error", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1792, 592], "onError": "continueRegularOutput", "parameters": {"workflowId": {"__rl": true, "value": "TQShysginOAn9uQs", "mode": "id"}, "options": {}}}, {"id": "e1000001-0000-4000-8000-000000000100", "name": "Note", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-60, 200], "parameters": {"content": "## EU Remote Jobs Scraper\n\nScrapes remote job listings from euremotejobs.com via WordPress REST API.\n\n**Schedule:** Every 15 minutes\n**Source:** `euremotejobs`\n**API:** `/wp-json/wp/v2/job-listings`\n\n1. Get criteria from Job Hunter API\n2. Resolve criteria to WP tag IDs\n3. Fetch jobs per tag\n4. Parse, dedup & send to API", "width": 340, "height": 280}}, {"id": "e1000001-0000-4000-8000-000000000101", "name": "Note1", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [1500, 640], "parameters": {"content": "### Error Handling\n\nOnly Fetch Jobs errors are handled here.\nGet Criteria and Send Jobs handle\ntheir own errors internally.", "width": 320, "height": 120}}], "connections": {"Schedule Trigger": {"main": [[{"node": "Set Source", "type": "main", "index": 0}]]}, "Set Source": {"main": [[{"node": "Get Criteria", "type": "main", "index": 0}]]}, "Get Criteria": {"main": [[{"node": "Resolve Tags", "type": "main", "index": 0}]]}, "Resolve Tags": {"main": [[{"node": "Fetch Tags", "type": "main", "index": 0}]]}, "Fetch Tags": {"main": [[{"node": "Build Queries", "type": "main", "index": 0}]]}, "Build Queries": {"main": [[{"node": "Fetch Jobs", "type": "main", "index": 0}]]}, "Fetch Jobs": {"main": [[{"node": "Parse & Dedup", "type": "main", "index": 0}], [{"node": "Format Error", "type": "main", "index": 0}]]}, "Parse & Dedup": {"main": [[{"node": "Send Jobs", "type": "main", "index": 0}]]}, "Format Error": {"main": [[{"node": "Notify Error", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Kiev", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "meta": null, "pinData": null, "versionId": "a61cc7f2-4b21-4dd1-ac0d-9c24ec3d0dd9", "activeVersionId": null, "versionCounter": 4, "triggerCount": 0, "tags": [], "shared": [{"updatedAt": "2026-03-05T04:17:13.922Z", "createdAt": "2026-03-05T04:17:13.922Z", "role": "workflow:owner", "workflowId": "L4Mh4A6mDRTo6ADM", "projectId": "dfXQr1quraFm38qh", "project": {"updatedAt": "2026-02-24T05:09:40.929Z", "createdAt": "2026-02-24T04:42:30.643Z", "id": "dfXQr1quraFm38qh", "name": "Myron Shykhov <myronshykhov@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "c2398426-cab4-45d4-8c55-54cc1d84130b"}}], "versionMetadata": {"name": null, "description": null}}