workflows/n1K0BHd01LG9eWKB.json
{"updatedAt":"2026-02-25T02:27:18.569Z","createdAt":"2026-02-25T02:26:40.351Z","id":"n1K0BHd01LG9eWKB","name":"Djinni Scraper","description":null,"active":false,"isArchived":false,"nodes":[{"id":"b1000001-0000-4000-8000-000000000001","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,496],"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}}},{"id":"b1000001-0000-4000-8000-000000000020","name":"Set Source","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,496],"parameters":{"jsCode":"return [{json: {source: 'djinni'}}];"}},{"id":"b1000001-0000-4000-8000-000000000021","name":"Get Criteria","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[448,496],"onError":"continueErrorOutput","parameters":{"workflowId":{"__rl":true,"value":"51QbvQ9rXWCQSL9Y","mode":"id"},"options":{}}},{"id":"b1000001-0000-4000-8000-000000000003","name":"Build Page URLs","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,496],"parameters":{"jsCode":"return $input.all().map(item => ({\n  json: {\n    category: item.json.category,\n    url: `https://djinni.co/jobs/?primary_keyword=${encodeURIComponent(item.json.category)}`\n  }\n}));"}},{"id":"b1000001-0000-4000-8000-000000000004","name":"Fetch Listing Pages","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,496],"onError":"continueErrorOutput","parameters":{"url":"={{ $json.url }}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":1000}},"response":{"response":{"responseFormat":"text"}}}}},{"id":"b1000001-0000-4000-8000-000000000006","name":"Parse Jobs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,400],"parameters":{"jsCode":"const source = $('Set Source').first().json.source;\nconst allJobs = [];\n\nfor (const inputItem of $input.all()) {\n  const html = inputItem.json.data;\n  if (!html || typeof html !== 'string') continue;\n\n  // Extract JSON-LD array from page\n  let jobPostings = [];\n  const jsonLdMatch = html.match(/<script type=\"application\\/ld\\+json\">([\\s\\S]*?)<\\/script>/);\n  if (jsonLdMatch) {\n    try {\n      const parsed = JSON.parse(jsonLdMatch[1]);\n      jobPostings = Array.isArray(parsed) ? parsed : [parsed];\n    } catch (e) { continue; }\n  }\n  if (jobPostings.length === 0) continue;\n\n  // Extract job URLs from HTML\n  const urlPattern = /href=\"(\\/jobs\\/(\\d+)-[^\"]+\\/)\"/g;\n  const urlMap = new Map();\n  let match;\n  while ((match = urlPattern.exec(html)) !== null) {\n    if (!urlMap.has(match[2])) {\n      urlMap.set(match[2], match[1]);\n    }\n  }\n  const urlList = [...urlMap.values()];\n\n  // Build job records\n  for (let i = 0; i < jobPostings.length; i++) {\n    const posting = jobPostings[i];\n    if (posting['@type'] !== 'JobPosting') continue;\n\n    const jobUrl = i < urlList.length\n      ? 'https://djinni.co' + urlList[i]\n      : null;\n\n    allJobs.push({\n      json: {\n        title: posting.title || '',\n        company: posting.hiringOrganization?.name || null,\n        url: jobUrl,\n        description: posting.description || '',\n        source,\n        salary: null,\n        location: null,\n        remote: posting.jobLocationType === 'TELECOMMUTE',\n        publishedAt: posting.datePosted || null\n      }\n    });\n  }\n}\n\nreturn allJobs;"}},{"id":"b1000001-0000-4000-8000-000000000007","name":"Prepare Ingest","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,400],"parameters":{"jsCode":"const jobs = $input.all().map(i => i.json);\n\nreturn [{json: {body: jobs, count: jobs.length}}];"}},{"id":"b1000001-0000-4000-8000-000000000022","name":"Send Jobs","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1568,400],"onError":"continueErrorOutput","parameters":{"workflowId":{"__rl":true,"value":"3JhDuzeLD3FbIOP1","mode":"id"},"options":{}}},{"id":"b1000001-0000-4000-8000-000000000012","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,592],"parameters":{"jsCode":"const err = $input.first().json;\nconst msg = err.error || err.message || 'Unknown error';\n\nreturn [{json: {level: 'error', message: `${$workflow.name}: ${msg}`}}];"}},{"id":"b1000001-0000-4000-8000-000000000013","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[1344,592],"onError":"continueRegularOutput","parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set Source","type":"main","index":0}]]},"Set Source":{"main":[[{"node":"Get Criteria","type":"main","index":0}]]},"Get Criteria":{"main":[[{"node":"Build Page URLs","type":"main","index":0}]]},"Build Page URLs":{"main":[[{"node":"Fetch Listing Pages","type":"main","index":0}]]},"Fetch Listing Pages":{"main":[[{"node":"Parse Jobs","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Parse Jobs":{"main":[[{"node":"Prepare Ingest","type":"main","index":0}]]},"Prepare Ingest":{"main":[[{"node":"Send Jobs","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1cc81fbf-670a-46d0-87fe-095b22b26d60","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-25T02:26:40.351Z","createdAt":"2026-02-25T02:26:40.351Z","role":"workflow:owner","workflowId":"n1K0BHd01LG9eWKB","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}