workflows/TQShysginOAn9uQs.json
{"updatedAt":"2026-02-24T07:53:58.311Z","createdAt":"2026-02-24T07:37:35.357Z","id":"TQShysginOAn9uQs","name":"Telegram Notify","description":null,"active":true,"isArchived":false,"nodes":[{"id":"b1000001-0000-4000-8000-000000000001","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,300],"parameters":{"inputSource":"workflowInputs","workflowInputs":{"values":[{"name":"level","type":"string"},{"name":"message","type":"string"}]}}},{"id":"b1000001-0000-4000-8000-000000000002","name":"Format Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,300],"parameters":{"jsCode":"const { level, message } = $input.first().json;\n\nconst VALID_LEVELS = ['error', 'warn', 'info'];\nif (!VALID_LEVELS.includes(level)) {\n  throw new Error(`Invalid level \"${level}\". Must be one of: ${VALID_LEVELS.join(', ')}`);\n}\n\nconst prefixes = { error: '\\u274c', warn: '\\u26a0\\ufe0f', info: '\\u2705' };\nconst prefix = prefixes[level];\nconst isAlert = level === 'error' || level === 'warn';\nconst topicId = isAlert\n  ? Number($env.TELEGRAM_ALERT_TOPIC_ID)\n  : Number($env.TELEGRAM_LOG_TOPIC_ID);\n\nreturn [{json: {\n  text: `${prefix} <b>${message}</b>`,\n  topicId\n}}];"}},{"id":"b1000001-0000-4000-8000-000000000003","name":"Send Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[600,300],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"G5EUpvpZ7Q20bkOo","name":"Telegram Bot"}},"parameters":{"chatId":"={{ $env.TELEGRAM_CHAT_ID }}","text":"={{ $json.text }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML","message_thread_id":"={{ $json.topicId }}"}}}],"connections":{"Trigger":{"main":[[{"node":"Format Message","type":"main","index":0}]]},"Format Message":{"main":[[{"node":"Send Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d859ea43-cfaa-498d-9dfb-3dd806250366","activeVersionId":"d859ea43-cfaa-498d-9dfb-3dd806250366","versionCounter":14,"triggerCount":0,"tags":[{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000001","name":"shared"}],"shared":[{"updatedAt":"2026-02-24T07:37:35.357Z","createdAt":"2026-02-24T07:37:35.357Z","role":"workflow:owner","workflowId":"TQShysginOAn9uQs","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":"Version d859ea43","description":""}}