workflows/W1ELujeuM4ivaoc7.json
{"updatedAt":"2026-02-27T09:44:11.463Z","createdAt":"2026-02-25T06:57:06.451Z","id":"W1ELujeuM4ivaoc7","name":"Get Proxies","description":null,"active":true,"isArchived":false,"nodes":[{"id":"d1000001-0000-4000-8000-000000000001","name":"Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,300],"parameters":{"inputSource":"workflowInputs","workflowInputs":{"values":[{"name":"source","type":"string"}]}}},{"id":"d1000001-0000-4000-8000-000000000002","name":"Fetch Proxies","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[300,300],"onError":"continueErrorOutput","parameters":{"url":"={{ $env.JOB_HUNTER_API_URL + '/proxies/all' }}","options":{}}},{"id":"d1000001-0000-4000-8000-000000000003","name":"Format List","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,300],"parameters":{"jsCode":"const items = $input.all();\n\nconst proxyStrings = items.map(item => {\n  const p = item.json;\n  return `${p.username}:${p.password}@${p.host}:${p.port}`;\n});\n\nconst proxyList = items.map(item => {\n  const p = item.json;\n  return {\n    url: `${p.username}:${p.password}@${p.host}:${p.port}`,\n    fingerprint: p.fingerprint || {}\n  };\n});\n\nconst input = $('Trigger').first().json;\nreturn [{json: {...input, proxies: proxyStrings.join(','), proxyList}}];"}},{"id":"d1000001-0000-4000-8000-000000000010","name":"Format Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,500],"parameters":{"jsCode":"const item = $input.first().json;\nconst source = $('Trigger').first().json.source || 'unknown';\nlet statusCode = 'N/A';\nlet code = 'UNKNOWN';\nlet message = 'Unexpected error';\n\nif (item.statusCode) statusCode = String(item.statusCode);\nif (item.body?.code) code = item.body.code;\nif (item.body?.message) message = item.body.message;\n\nconst raw = item.error?.message || '';\nif (raw && code === 'UNKNOWN') {\n  const statusMatch = raw.match(/^(\\d{3})/);\n  if (statusMatch) statusCode = statusMatch[1];\n\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const jsonStr = jsonMatch[0].replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, '\\\\');\n    try {\n      const parsed = JSON.parse(jsonStr);\n      code = parsed.code || code;\n      message = parsed.message || message;\n    } catch (e) {\n      message = raw.replace(/^\\d{3}\\s*-\\s*/, '').replace(/^\"|\"$/g, '').replace(/\\\\\"/g, '\"');\n    }\n  } else {\n    message = raw;\n  }\n}\n\nreturn [{json: {\n  level: 'error',\n  message: `GET /proxies/all: HTTP ${statusCode} [${code}] \\u2014 ${message}`,\n  source\n}}];"}},{"id":"d1000001-0000-4000-8000-000000000011","name":"Notify Error","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[900,500],"onError":"continueRegularOutput","parameters":{"workflowId":{"__rl":true,"value":"TQShysginOAn9uQs","mode":"id"},"options":{}}},{"id":"d1000001-0000-4000-8000-000000000012","name":"Throw Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,500],"parameters":{"jsCode":"const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"}}],"connections":{"Trigger":{"main":[[{"node":"Fetch Proxies","type":"main","index":0}]]},"Fetch Proxies":{"main":[[{"node":"Format List","type":"main","index":0}],[{"node":"Format Error","type":"main","index":0}]]},"Format Error":{"main":[[{"node":"Notify Error","type":"main","index":0}]]},"Notify Error":{"main":[[{"node":"Throw Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Europe/Kiev","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"74f4721b-0832-4008-804b-b77fcee651c4","activeVersionId":"74f4721b-0832-4008-804b-b77fcee651c4","versionCounter":22,"triggerCount":0,"tags":[{"updatedAt":"2026-02-24T07:53:44.978Z","createdAt":"2026-02-24T07:53:44.978Z","id":"t0000001-0000-4000-8000-000000000001","name":"shared"}],"shared":[{"updatedAt":"2026-02-25T06:57:06.451Z","createdAt":"2026-02-25T06:57:06.451Z","role":"workflow:owner","workflowId":"W1ELujeuM4ivaoc7","projectId":"dfXQr1quraFm38qh","project":{"updatedAt":"2026-02-24T05:09:40.929Z","createdAt":"2026-02-24T04:42:30.643Z","id":"dfXQr1quraFm38qh","name":"Myron Shykhov <myronshykhov@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2398426-cab4-45d4-8c55-54cc1d84130b"}}],"versionMetadata":{"name":null,"description":null}}