workflows/ZZIa4SqeCNNkeZDa.json
{"updatedAt": "2026-03-05T09:14:34.473Z", "createdAt": "2026-03-05T09:14:34.473Z", "id": "ZZIa4SqeCNNkeZDa", "name": "Get Proxy", "description": null, "isArchived": false, "nodes": [{"id": "e1000001-0000-4000-8000-000000000001", "name": "Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1.1, "position": [0, 300], "parameters": {"inputSource": "workflowInputs", "workflowInputs": {"values": [{"name": "source", "type": "string"}]}}}, {"id": "e1000001-0000-4000-8000-000000000002", "name": "Get API Token", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [224, 300], "onError": "stopWorkflow", "parameters": {"workflowId": {"__rl": true, "value": "4MBLKBAFcbpccWrH", "mode": "id"}, "options": {}}}, {"id": "e1000001-0000-4000-8000-000000000003", "name": "Fetch Proxy", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [448, 300], "onError": "continueErrorOutput", "parameters": {"url": "={{ $env.JOB_HUNTER_API_URL + '/proxies?source=' + $('Trigger').first().json.source }}", "options": {}, "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "={{ $json.token ? 'Bearer ' + $json.token : '' }}"}]}}}, {"id": "e1000001-0000-4000-8000-000000000004", "name": "Format Result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 300], "parameters": {"jsCode": "const proxy = $input.first().json;\nconst source = $('Trigger').first().json.source;\nreturn [{json: {source, proxyUrl: proxy.url, fingerprint: proxy.fingerprint || {}}}];"}}, {"id": "e1000001-0000-4000-8000-000000000010", "name": "Format Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [672, 500], "parameters": {"jsCode": "const item = $input.first().json;\nconst source = $('Trigger').first().json.source || 'unknown';\nlet statusCode = 'N/A';\nlet code = 'UNKNOWN';\nlet message = 'Unexpected error';\n\nif (item.statusCode) statusCode = String(item.statusCode);\nif (item.body?.code) code = item.body.code;\nif (item.body?.message) message = item.body.message;\n\nconst raw = item.error?.message || '';\nif (raw && code === 'UNKNOWN') {\n  const statusMatch = raw.match(/^(\\d{3})/);\n  if (statusMatch) statusCode = statusMatch[1];\n  const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      const parsed = JSON.parse(jsonMatch[0].replace(/\\\\\"/g, '\"'));\n      code = parsed.code || code;\n      message = parsed.message || message;\n    } catch (e) {\n      message = raw.replace(/^\\d{3}\\s*-\\s*/, '').replace(/^\"|\"$/g, '');\n    }\n  } else {\n    message = raw;\n  }\n}\n\nreturn [{json: {\n  level: 'error',\n  message: `GET /proxies: HTTP ${statusCode} [${code}] \\u2014 ${message}`,\n  source\n}}];"}}, {"id": "e1000001-0000-4000-8000-000000000011", "name": "Notify Error", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [896, 500], "onError": "continueRegularOutput", "parameters": {"workflowId": {"__rl": true, "value": "TQShysginOAn9uQs", "mode": "id"}, "options": {}}}, {"id": "e1000001-0000-4000-8000-000000000012", "name": "Throw Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 500], "parameters": {"jsCode": "const errorData = $('Format Error').first().json;\nthrow new Error(errorData.message);"}}], "connections": {"Trigger": {"main": [[{"node": "Get API Token", "type": "main", "index": 0}]]}, "Get API Token": {"main": [[{"node": "Fetch Proxy", "type": "main", "index": 0}]]}, "Fetch Proxy": {"main": [[{"node": "Format Result", "type": "main", "index": 0}], [{"node": "Format Error", "type": "main", "index": 0}]]}, "Format Error": {"main": [[{"node": "Notify Error", "type": "main", "index": 0}]]}, "Notify Error": {"main": [[{"node": "Throw Error", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1", "timezone": "Europe/Kiev", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false}, "meta": null, "pinData": null, "versionId": "8e7ded75-b5fa-4b35-a4c3-0f15c106efe7", "activeVersionId": null, "versionCounter": 1, "triggerCount": 0, "tags": [], "shared": [{"updatedAt": "2026-03-05T09:14:34.473Z", "createdAt": "2026-03-05T09:14:34.473Z", "role": "workflow:owner", "workflowId": "ZZIa4SqeCNNkeZDa", "projectId": "dfXQr1quraFm38qh", "project": {"updatedAt": "2026-02-24T05:09:40.929Z", "createdAt": "2026-02-24T04:42:30.643Z", "id": "dfXQr1quraFm38qh", "name": "Myron Shykhov <myronshykhov@gmail.com>", "type": "personal", "icon": null, "description": null, "creatorId": "c2398426-cab4-45d4-8c55-54cc1d84130b"}}], "versionMetadata": {"name": null, "description": null}}